block navbar  
  nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li
            a(href="/mainPage") Home
           
          
          
          li  
            div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
               li(class ="dropdown" )
                a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Locations
                 span(class="caret")
                ul(class="dropdown-menu" role="menu")
                 li
                  a(href="/locations") Locations
                 li
                  a(href="/locations/add") Add Location
          li
            div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
               li(class ="dropdown" )
                a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Mail
                 span(class="caret")
                ul(class="dropdown-menu" role="menu")
                 li
                  a(href="/mail") Mail
                 li
                  a(href="/mail/add") Add Mail
          li   
           div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
             li(class ="dropdown")
              a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Routes 
               span(class="caret")
              ul(class="dropdown-menu" role="menu")
               li
                a(href="/routes") Routes
               li
                a(href="/routes/add") Add Route   
          li
            div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
               li(class ="dropdown")
                a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Events 
                 span(class="caret")
                ul(class="dropdown-menu" role="menu")
                 li
                  a(href="/events/mail") Mail Events
                 li
                  a(href="/events/cost") Cost Events
                 li
                  a(href="/events/discontinue") Discontinue Events
          li
            a(href="/metrics") Metrics
                               
        ul(class="nav navbar-nav navbar-right")
          if isManager
            li
              a(href="/users/signup") Create new User
            li
              a(href="/users") Edit Accounts

          if signedInUser
          li       
           div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
             li(class ="dropdown" class="btn-primary")
              a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") !{signedInUser}
               span(class="caret")
              ul(class="dropdown-menu" role="menu")
               li
                a(href="/?loggedOut=true" class="btn-sm") Logout
