block navbar  
  nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
      div(class="navbar-header")
        a(class="navbar-brand" href="/") !{title}

      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li
            a(href="/mainPage") Home
            
          if(manager)
           li
            a(href="/checkFigure") Check Figure

          li  
            a(href="/mail") Mail

          li  
            a(href="/locations") Locations

          li
          
           div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
             li(class ="dropdown" class="active")
              a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Routes 
               span(class="caret")
              ul(class="dropdown-menu" role="menu")
               li
                a(href="/routes") Routes
               li
                a(href="/routes/add") Add Routes

        form(class="navbar-form navbar-left" role="search")
         div(class="form-group")
          input(class="form-control" placeholder="Search Routes" type="text")
         button(class="btn btn-primary btn-sm" type="submit")
          span(class="glyphicon glyphicon-search" aria-hidden="true")      
                               
        ul(class="nav navbar-nav navbar-right")
          if(manager)
            li
              a(href="/signup") Sign Up
            li
                a(href="/users/edit") Edit Accounts
          if signedInUser
          li       
           div( class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
             li(class ="dropdown" class="btn-primary")
              a(href"/routes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") !{signedInUser}
               span(class="caret")
              ul(class="dropdown-menu" role="menu")
               li
                a(href="/" class="btn-sm") Logout