extends layout

block content
  div(class="well" style="margin-left:15%; margin-right:15%;")
   form.form-horizontal(role=form method="post" action="/mail/add")
      fieldset
        legend Add Mail
        .form-group
          label.col-lg-2.control-label(for='inputOrigin') Date
          .col-lg-10
            input#inputDes.form-control(type='text', placeholder='Date' name="creation_date")         

          label.col-lg-2.control-label(for='select') Origin
          .col-lg-10 
            select#select.form-control(type='text' name="originID")
              option(hidden) Select Origin
              each val in locations
                option  #{val.name}
          label.col-lg-2.control-label(for='select') Destination
          .col-lg-10
            select#select.form-control(type='text' name="destinationID")
              option(hidden) Select Destination
              each val in locations
                option  #{val.name}
        
          form-group
          label.col-lg-2.control-label(for='select') Priority
          .col-lg-10
            select#select.form-control(name="Priority")
              option(hidden) Select your priority
              option International Air Priority
              option International Standard Priority
              option Domestic Air Priority (Same Price As Standard)
              option Domestic Standard Priority (Same Price As Air)
          .form-group
          label.col-lg-2.control-label(for='inputOrigin') weight
          .col-lg-10
            input#inputDes.form-control(type='text', placeholder='Weight' name="weight")
          label.col-lg-2.control-label(for='inputOrigin') Volume
          .col-lg-10
            input#inputDes.form-control(type='text', placeholder='Volume' name="volume")

        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default(type='reset') Cancel
            button.btn.btn-primary(type='submit') Submit


