extends layout

block content
  div(class="well" style="margin-left:15%; margin-right:15%;")
   form.form-horizontal(role=form method="post" action="/routes/add")
      fieldset
        legend Add Route
        .form-group
          label.col-lg-2.control-label(for='inputOrigin') Route Origin
          



          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="AddressOrigin")
              option(hidden) Select your region
              option Auckland
              option Hamilton
              option Rotorua
              option Palmerston North
              option Wellington
              option Christchurch
              option Dunedin
        br



        .form-group
          label.col-lg-2.control-label(for='inputDes') Route Destination
        




          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="AddressDes")
              option(hidden) Select your region
              option Auckland
              option Hamilton
              option Rotorua
              option Palmerston North
              option Wellington
              option Christchurch
              option Dunedin



            br
            span.help-block
              |What form of transportation were you after
            .checkbox(name="transport")
              label
                input(type='checkbox' name="Land",checked=(true==false ? "checked" :undefined))
                |  Land
              &nbsp
              label
                input(type='checkbox' name="Sea", checked=(true==false ? "checked" :undefined))
                |  Sea
              &nbsp
              label
                input(type='checkbox' name="Air",checked=(true==false ? "checked" :undefined))
                |  Air



      

        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default(type='reset') Cancel
            button.btn.btn-primary(type='submit') Submit


