extends layout

block content
  div(class="well" style="margin-left:15%; margin-right:15%;")
   form.form-horizontal(role=form method="post" action="/routes/add")
      fieldset
        legend Add Route
        .form-group
          label.col-lg-2.control-label(for='inputOrigin') Route Origin
          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="AddressOrigin")
              option(hidden) Select your region
              each val in locations
                option  #{val.name}

        .form-group
          label.col-lg-2.control-label(for='inputDes') Route Destination
          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="AddressDes")
              option(hidden) Select your region
              each val in locations
                option  #{val.name}

        .form-group
          label.col-lg-2.control-label(for='trans_weight_cost') Route Weight cost
          .col-lg-10.col-lg-offset-2
            input(type="number" class="form-control input-sm" placeholder="Route Weight Cost" id="trans_weight_cost" name="trans_weight_cost")

        .form-group
          label.col-lg-2.control-label(for='trans_volume_cost') Route Volume cost
          .col-lg-10.col-lg-offset-2
            input(type="number" class="form-control input-sm" placeholder="Route Volume Cost" id="trans_volume_cost" name="trans_volume_cost")

        .form-group
          label.col-lg-2.control-label(for='cust_weight_cost') Customer Weight cost
          .col-lg-10.col-lg-offset-2
            input(type="number" class="form-control input-sm" placeholder="Cust Weight Cost" id="cust_weight_cost" name="cust_weight_cost")
        .form-group
          label.col-lg-2.control-label(for='cust_volume_cost') Customer Weight Volume
          .col-lg-10.col-lg-offset-2
            input(type="number" class="form-control input-sm" placeholder="Cust Volume Cost" id="cust_volume_cost" name="cust_volume_cost")
            br
            span.help-block
              |What form of transportation were you after
            .checkbox(name="transport")
              label
                input(type='checkbox' name="Land",checked=(true==false ? "checked" :undefined))
                |  Land
              &nbsp
              label
                input(type='checkbox' name="Sea", checked=(true==false ? "checked" :undefined))
                |  Sea
              &nbsp
              label
                input(type='checkbox' name="Air",checked=(true==false ? "checked" :undefined))
                |  Air



        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default(type='reset') Cancel
            button.btn.btn-primary(type='submit') Submit


