extends layout

block content

  div( style="margin-left:20%; margin-right:20%;")
    if message
      div(class="alert alert-dismissible alert-danger" id="message")
        button(type="button" class="close" onclick="hideMessage();") &times;
        p(align="center") !{message}

  div(class="well" style="margin-left:15%; margin-right:15%;")
   form.form-horizontal(role=form method="post" action="/routes/add")
      fieldset
        legend Add Route
        .form-group
          label.col-lg-2.control-label(for='inputOrigin') Route Origin
          .col-lg-10
            input#inputDes.form-control(type='text', placeholder='Address Line' name="AddressOrigin")
            input#inputDes.form-control(type='text', placeholder='Suburb' name="SuburbOrigin")



          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control( type='text' name= "CountryOrigin" onChange="func(this)" )
              option(hidden) Select your country
              option New Zealand
              option Afghanistan
              option Albania
              option Algeria
              option Andorra
              option Angola
              option Antigua and Barbuda
              option Argentina
              option Armenia
              option Australia
              option Austria
              option Azerbaijan
              option Bahamas
              option Bahrain
              option Bahamas
              option Bahrain
              option Bangladesh
              option Barbados
              option Belarus
              option Belgium
              option Belize
              option Benin
              option Bhutan
              option Bolivia
              option Bosnia and Herzegovina
              option Botswana
              option Brazil
              option Brunei
              option Bulgaria
              option Burkina Faso
              option Burundi
              option Cabo Verde
              option Cambodia
              option Cameroon
              option Canada
              option Central African Republic
              option Chad
              option Chile
              option China
              option Colombia
              option Comoros
              option Congo, Republic of the
              option Congo, Democratic Republic of the
              option Costa Rica
              option Cote d'Ivoire
              option Croatia
              option Cuba
              option Cyprus
              option Czech Republic
              option Denmark
              option Djibouti
              option Dominica
              option Dominican Republic
              option Ecuador
              option Egypt
              option El Salvador
              option Equatorial Guinea
              option Eritrea
              option Estonia
              option  Ethiopia
              option  Fiji
              option Finland
              option France
              option Gabon
              option Gambia
              option Georgia
              option Germany
              option Ghana
              option Greece
              option Grenada
              option Guatemala
              option Guinea
              option Guinea-Bissau
              option Guyana
              option Haiti
              option Honduras
              option Hungary
              option Iceland
              option India
              option Indonesia
              option Iran
              option Iraq
              option Ireland
              option Israel
              option Italy
              option Jamaica
              option Japan
              option Jordan
              option Kazakhstan
              option Kenya
              option Kiribati
              option Kosovo
              option Kuwait
              option Kyrgyzstan
              option Laos
              option Latvia
              option Lebanon
              option Lesotho
              option Liberia
              option Libya
              option Liechtenstein
              option Lithuania
              option Luxembourg
              option Macedonia
              option Madagascar
              option Malawi
              option Malaysia
              option Maldives
              option Mali
              option Malta
              option Marshall Islands
              option Mauritania
              option Mauritius
              option Mexico
              option Micronesia
              option Moldova
              option Monaco
              option Mongolia
              option Montenegro
              option Morocco
              option Mozambique
              option Myanmar (Burma)
              option Namibia
              option Nauru
              option Nepal
              option Netherlands
              option Nicaragua
              option Niger
              option Nigeria
              option North Korea
              option Norway
              option Oman
              option Pakistan
              option Palau
              option Palestine
              option Panama
              option Papua New Guinea
              option Paraguay
              option Peru
              option Philippines
              option Poland
              option Portugal
              option Qatar
              option Romania
              option Russia
              option Rwanda
              option St. Kitts and Nevis
              option St. Lucia
              option St. Vincent and The Grenadines
              option Samoa
              option San Marino
              option Sao Tome and Principe
              option Saudi Arabia
              option Senegal
              option Serbia
              option Seychelles
              option Sierra Leone
              option Singapore
              option Slovakia
              option Slovenia
              option Solomon Islands
              option Somalia
              option South Africa
              option South Korea
              option South Sudan
              option Spain
              option Sri Lanka
              option Sudan
              option Suriname
              option Swaziland
              option Sweden
              option Switzerland
              option Syria
              option Taiwan
              option Tajikistan
              option Tanzania
              option Thailand
              option Timor-Leste
              option Togo
              option Tonga
              option Trinidad and Tobago
              option Tunisia
              option Turkey
              option Turkmenistan
              option Tuvalu
              option Uganda
              option Ukraine
              option United Arab Emirates
              option United Kingdom (UK)
              option United States of America (USA)
              option Uruguay
              option Uzbekistan
              option Vanuatu
              option Vatican City (Holy See)
              option Venezuela
              option Vietnam
              option Yemen
              option Zambia
              option Zimbabwe

          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="RegionOrigin")
              option(hidden) Select your region
              option Auckland
              option Hamilton
              option Rotorua
              option Palmerston North
              option Wellington
              option Christchurch
              option Dunedin
        br



        .form-group
          label.col-lg-2.control-label(for='inputDes') Route Destination
          .col-lg-10
            input#inputDes.form-control(type='text', placeholder='Address Line' name="AddressDes")
            input#inputDes.form-control(type='text', placeholder='Suburb' name="SuburbDes")



          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="CountryDes")
              option(hidden) Select your country
              option New Zealand
              option Afghanistan
              option Albania
              option Algeria
              option Andorra
              option Angola
              option Antigua and Barbuda
              option Argentina
              option Armenia
              option Australia
              option Austria
              option Azerbaijan
              option Bahamas
              option Bahrain
              option Bahamas
              option Bahrain
              option Bangladesh
              option Barbados
              option Belarus
              option Belgium
              option Belize
              option Benin
              option Bhutan
              option Bolivia
              option Bosnia and Herzegovina
              option Botswana
              option Brazil
              option Brunei
              option Bulgaria
              option Burkina Faso
              option Burundi
              option Cabo Verde
              option Cambodia
              option Cameroon
              option Canada
              option Central African Republic
              option Chad
              option Chile
              option China
              option Colombia
              option Comoros
              option Congo, Republic of the
              option Congo, Democratic Republic of the
              option Costa Rica
              option Cote d'Ivoire
              option Croatia
              option Cuba
              option Cyprus
              option Czech Republic
              option Denmark
              option Djibouti
              option Dominica
              option Dominican Republic
              option Ecuador
              option Egypt
              option El Salvador
              option Equatorial Guinea
              option Eritrea
              option Estonia
              option  Ethiopia
              option  Fiji
              option Finland
              option France
              option Gabon
              option Gambia
              option Georgia
              option Germany
              option Ghana
              option Greece
              option Grenada
              option Guatemala
              option Guinea
              option Guinea-Bissau
              option Guyana
              option Haiti
              option Honduras
              option Hungary
              option Iceland
              option India
              option Indonesia
              option Iran
              option Iraq
              option Ireland
              option Israel
              option Italy
              option Jamaica
              option Japan
              option Jordan
              option Kazakhstan
              option Kenya
              option Kiribati
              option Kosovo
              option Kuwait
              option Kyrgyzstan
              option Laos
              option Latvia
              option Lebanon
              option Lesotho
              option Liberia
              option Libya
              option Liechtenstein
              option Lithuania
              option Luxembourg
              option Macedonia
              option Madagascar
              option Malawi
              option Malaysia
              option Maldives
              option Mali
              option Malta
              option Marshall Islands
              option Mauritania
              option Mauritius
              option Mexico
              option Micronesia
              option Moldova
              option Monaco
              option Mongolia
              option Montenegro
              option Morocco
              option Mozambique
              option Myanmar (Burma)
              option Namibia
              option Nauru
              option Nepal
              option Netherlands
              option Nicaragua
              option Niger
              option Nigeria
              option North Korea
              option Norway
              option Oman
              option Pakistan
              option Palau
              option Palestine
              option Panama
              option Papua New Guinea
              option Paraguay
              option Peru
              option Philippines
              option Poland
              option Portugal
              option Qatar
              option Romania
              option Russia
              option Rwanda
              option St. Kitts and Nevis
              option St. Lucia
              option St. Vincent and The Grenadines
              option Samoa
              option San Marino
              option Sao Tome and Principe
              option Saudi Arabia
              option Senegal
              option Serbia
              option Seychelles
              option Sierra Leone
              option Singapore
              option Slovakia
              option Slovenia
              option Solomon Islands
              option Somalia
              option South Africa
              option South Korea
              option South Sudan
              option Spain
              option Sri Lanka
              option Sudan
              option Suriname
              option Swaziland
              option Sweden
              option Switzerland
              option Syria
              option Taiwan
              option Tajikistan
              option Tanzania
              option Thailand
              option Timor-Leste
              option Togo
              option Tonga
              option Trinidad and Tobago
              option Tunisia
              option Turkey
              option Turkmenistan
              option Tuvalu
              option Uganda
              option Ukraine
              option United Arab Emirates
              option United Kingdom (UK)
              option United States of America (USA)
              option Uruguay
              option Uzbekistan
              option Vanuatu
              option Vatican City (Holy See)
              option Venezuela
              option Vietnam
              option Yemen
              option Zambia
              option Zimbabwe

          label.col-lg-2.control-label(for='select')
          .col-lg-10
            select#select.form-control(type='text' name="RegionDes")
              option(hidden) Select your region
              option Auckland
              option Hamilton
              option Rotorua
              option Palmerston North
              option Wellington
              option Christchurch
              option Dunedin



            br
            span.help-block
              |What form of transportation were you after
            .checkbox(name="transport")
              label
                input(type='checkbox' name="Land",checked=(true==false ? "checked" :undefined))
                |  Land
              &nbsp
              label
                input(type='checkbox' name="Sea", checked=(true==false ? "checked" :undefined))
                |  Sea
              &nbsp
              label
                input(type='checkbox' name="Air",checked=(true==false ? "checked" :undefined))
                |  Air



        .form-group
          label.col-lg-2.control-label(for='select') Priority
          .col-lg-10
            select#select.form-control(name="Priority")
              option(hidden) Select your priority
              option International Air Priority
              option International Standard Priority
              option Domestic Air Priority (Same Price As Standard)
              option Domestic Standard Priority (Same Price As Air)

        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default(type='reset') Cancel
            button.btn.btn-primary(type='submit') Submit


