extends layout

block content
  div(class="well" style="margin-left:15%; margin-right:15%;")
    .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='#', alt='')
            .caption
              h3 Number of Routes
              p !{numberofroutes}
              p
                
        .col-sm-6.col-md-4
          .thumbnail
            img(src='#', alt='')
            .caption
              h3 Revenue
              p !{totalRev}
              p
                
        .col-sm-6.col-md-4
          .thumbnail
            img(src='#', alt='')
            .caption
              h3 Expenditure
              p !{totalExpenditure}
              p
                

    