extends layout

block content
  table(class="table table-striped table-hover")
      thead
          tr(class="info")
              th(width="30%") Username
              th(width="30%") RealName
              th(width="20%") Manager
              th(width="5%") Actions
      tbody
          each val in list
              tr
                  td !{val.username}
                  td !{val.realname}
                  td !{val.manager}
                  td
                      if (manager)
                          a(class="btn btn-primary btn-xs", href="/doEditAccount?uid=" + val.uid) Edit
                          a(class="btn btn-primary btn-xs", href="/doDeleteAccount?uid=" + val.uid) Delete
                      else
                          span(class="label label-primary") Manager Account Needed

  center
      a(href="/editAccount") Back to Top