extends layout

block content
  div(class="well" style="margin-left:15%; margin-right:15%;")
    form.form-horizontal(action="/routes/edit/" + route.id, method="post")
      fieldset
        legend Edit Route
        .form-group
          label.col-lg-2.control-label(for='origin_name') Route Origin
          .col-lg-10
            select.form-control(type='text', name="origin_name", id="slct1", onchange="populate(this.id,'slct2')")
              option(hidden) Select your origin
              each location in locations
                option= location.name

          label.col-lg-2.control-label(for='select')
          .col-lg-10
             select.form-control(type='text' name="RegionOrigin" id="slct2" onchange="populate(this.id,'slct4')")
                option(hidden) Select your region
                br

        .form-group
          label.col-lg-2.control-label(for='destination_name')
          .col-lg-10
            select.form-control(type='text', name="destination_name", id="slct1", onchange="populate(this.id,'slct2')")
              option(hidden) Select your destination
              for location in locations
                option= location.name

            label.col-lg-2.control-label(for='select')
            .col-lg-10
                select.form-control(type='text' name="RegionDes",id="slct4")
                    option(hidden) Select your region

                br
                span.help-block
                    | What form of transportation were you after
                .checkbox(name="transport")
                    label
                        input(type='checkbox' name="land", checked=(true == false ? "checked" : undefined))
                        |  Land

                    &nbsp
                    label
                        input(type='checkbox' name="sea", checked=(true == false ? "checked" : undefined))
                        |  Sea
                    &nbsp
                    label
                        input(type='checkbox' name="air",checked=(true == false ? "checked" : undefined))
                        |  Air



        .form-group
            label.col-lg-2.control-label(for='select') Priority
            .col-lg-10
                select#select.form-control(name="Priority")
                    option(hidden) Select your priority
                    option International Air Priority
                    option International Standard Priority
                    option Domestic Air Priority (Same Price As Standard)
                    option Domestic Standard Priority (Same Price As Air)

        .form-group
            .col-lg-10.col-lg-offset-2
                button.btn.btn-default(type='reset') Cancel
                button.btn.btn-primary(type='submit') Submit