extends layout

block navbar
  nav(class="navbar navbar-default navbar-fixed-top")
   a(class="navbar-brand" href="/") KPS

block content
  center
    img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/KPS_Consulting_Logo.svg/500px-KPS_Consulting_Logo.svg.png")

  include ./includes/loginform.jade

















